---
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Me Astro</title>
  </head>
  <body>
    <a href='/'>Home</a>
    <a href='/about/'>About</a>
    <a href='/telephone/'>Empty Telephone</a>
    <h1>Empty Telephone</h1>
    <h1>My Blog: Empty telephone</h1>
    <p>
      I'm talking to an empty telephone. Cause there's a dead man on the other
      end of this %$#@ line!
    </p>
  </body>
</html>
